# Expose port for gateway
GATEWAY_PORT=8080

# Override backend URL for local development (without Docker)
TAK_URL=http://localhost:4001
EI_URL=http://localhost:4002
SPARR_URL=http://localhost:4003
LOGG_URL=http://localhost:4004
